<div>
  <h1>{{ ctrl.meter.name || ctrl.meter.ean }}</h1>
  <p>Haz {{ ctrl.days.length }} days of hour values</p>
<!--   <svg style="width: 100%; height: 800px" viewBox="0 0 1095 72">
    <g ng-repeat="day in ctrl.days track by $index">
      <g ng-repeat="hour in day track by $index">
        <title>Consumtion {{ hour }} kWh</title>
        <rect ng-attr-x="{{::$parent.$index * 2}}" ng-attr-y="{{::$index * 16}}" width="2" height="16" ng-style="::{fill: ctrl.getColor(hour)}"/>
      </g>
    </g>
  </svg> -->

  <svg style="width: 100%; height: 800px" viewBox="0 0 1095 72">
    <g ng-repeat="day in ctrl.days track by $index">
      <g ng-repeat="hour in day track by $index">
        <path ng-attr-d="{{ctrl.getPath($parent.$index,$index,500)}}" stroke="#555" ng-attr-stroke-width="{{ctrl.getStroke(hour)}}"/>
      </g>
    </g>
  </svg>

</div>
